/* ==== Header ==== */
.header {
  width: 100%;
  background-color: #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
  height: 90px;
  margin-top: 47px;
}

.nav-bar {
  width: 100%;
  max-width: 1440px;
  position: relative;
}

/* Desktop nav layout */
.nav-content {
  display: flex;
  align-items: center;
  padding: 12px 20px;
}

.nav-left {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
  margin: 0;
  padding: 0;
  width: calc(100% - 190px);
  justify-content: space-evenly;
}

.nav-left a {
  font-size: 0.9rem;
}

/* Center logo */

.logo img {
  height: 70px;
  object-fit: contain;
}

/* ==== MOBILE ==== */

/* Mobile header layout */
.mobile-header {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.mobile-logo img {
  height: 45px;
}

/* Hamburger icon */
.hamburger {
  width: 33px;
  height: 18px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 3px;
  transition: 0.5s;
}

/* Animate hamburger when active */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(9px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-9px);
}

/* Mobile menu */
@media (max-width: 961px) {
  .desktop-only {
    display: none;
  }

  .mobile-header {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hamburger {
    display: flex;
  }

  .nav-content {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: #bfbfbf;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.5s ease, opacity 0.4s ease;
    padding: 0;
  }

  .nav-content.open {
    max-height: 400px;
    /* menu expands smoothly */
    opacity: 1;
    pointer-events: auto;
  }

  .nav-left {
    flex-direction: column;
    gap: 18px;
    padding: 20px 0;
  }

  .desktop-only {
    display: none;
  }

  .logo {
    position: static;
    transform: none;
  }
}

@media (max-width: 480px) {
  .header {
    margin-top: 32px;
  }
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 0.5rem 1rem;
}

.nav-link.active,
.nav-link:hover {
  color: #ff4500;
  /* Active color */
  font-weight: 500;
  border-bottom: 2px solid #ff4500;
  /* Optional underline effect */
}