.news-container {
  display: flex;
  width: 90%;
  max-width: 1400px;
  justify-self: center;
  gap: 54px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.news-main {
  width: 50%;
  aspect-ratio: 3/2;
  background: #d9d9d9;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.news-main-text {
  position: absolute;
  bottom: 20%;
  margin: 0 24px;
  text-align: left;
  color: white;
  font-weight: 700;
  font-size: 16px;
  width: calc(100% - 48px);
  left: 0;
  text-decoration: none;
  transition: 0.5s all;
}

.news-main-text:hover {
  text-decoration: underline;
}

.news-list {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  width: 50%;
  aspect-ratio: 3/2;
  gap: 24px;
}

.news-item {
  display: flex;
  gap: 16px;
  flex-direction: row;
}

.news-thumb {
  width: 160px;
  aspect-ratio: 2/1;
  background-color: #d9d9d9;
}

.news-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.news-item-title {
  margin: 0;
  font-size: 14px;
}

.news-item-desc {
  font-size: 12px;
  font-weight: 300;
}

.news-item-date {
  font-size: 12px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .news-container {
    flex-direction: column;
  }

  .news-main {
    width: 100%;
  }

  .news-list {
    width: 100%;
  }
}
